{% extends 'base.html' %}
{% block title %} Register User {% endblock %}
{% block content %}

<div class="container">   
<h1 class="display-2">Sign Up</h1>
<p class="lead">Register below to join!</p>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
    
    <div class="col-auto">
        <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>
</div>

{% endblock %}