body {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

/* game board */
#board td {
	width: 80px;
	height: 80px;
	border: 7px solid navy;
	background-color: lightgrey;
}

.coin {
	margin: 0;
	height: 90px;
	width: 90px;
	margin: 5px;
	border: 7px solid black;
}

.coin.p1 {
	background-color: rgba(215, 21, 21, 0.721);
	margin: 0;
	width: 85%;
	height: 85%;
	align-items: flex;
	/* creates circular coins */
	border-radius: 50%;
}

.coin.p2 {
	background-color: rgba(48, 82, 193, 0.961);
	margin: 0;
	width: 85%;
	height: 85%;
	border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 3px navy;
	border-radius: 50%;
}

#column-top td:hover {
	background-color: rgba(201, 173, 10, 0.838);
}

/* reset button */
#reset {
	background-color: black;
	border: none;
	border-radius: 5px;
	margin-top: 50px;

	color: white;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 25px;
	cursor: pointer;
}

#reset:hover {
	background-color: rgb(113, 118, 123);
}
