* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.letter {
	transition: color 500ms;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 90px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 3vh;
}

body {
	height: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

/* game board */
#board td {
	width: 75px;
	height: 75px;
	background-color: lightgrey;

	box-shadow: 0 0 15px 5px rgb(9, 9, 175);
	border-radius: 20rem;
}

.coin {
	width: 90px;
	height: 90px;
	border: 3px solid black;
}

.coin.p1 {
	background-color: rgba(215, 21, 21, 0.721);
	margin: 0;
	width: 100%;
	height: 100%;
	/* creates circular coins */
	border-radius: 50%;
	box-shadow: 0 0 3px 3px rgba(207, 44, 44, 0.721);
}

.coin.p2 {
	background-color: rgba(48, 82, 193, 0.961);
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 3px 3px rgba(44, 72, 163, 0.961);
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 4px rgb(9, 9, 175);
	border-radius: 50%;
}

#column-top td:hover {
	background-color: rgb(229, 184, 11);
}

/* reset button */
button {
	background-color: white;
	border: none;
	border-radius: 5px;
	margin-top: 12px;

	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 12px;
	cursor: pointer;
	box-shadow: 0 0 15px 5px rgb(9, 9, 175);
	margin-bottom: auto;
}

button:hover {
	background-color: navy;
	color: white;
}
