{% extends 'base.html' %}

{% block content %}

<h1>Add a new song!</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <div class="col-auto">
        <a href="/songs" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-success">Add!</button>
    </div>
</form>

{% endblock %}