* {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.board {
    background-color: rgba(38, 63, 165, 0.879);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



