<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Converter</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form action="/" method="POST">
    <div class="container">
        <h1>Foreign Exchange Converter</h1>
        <hr>

        <p>
        <label for="convert_from">Converting from:</label>
        <input type="text" placeholder="ex: USD">
        </p>

        <p>
        <label for="convert_to">Converting to:</label>
        <input type="text" placeholder="ex: EUR">
        </p>

        <p>
        <label for="amount">Amount:</label>
        <input type="number" placeholder="0.00">
        </p>

        <p>
        <button type="submit" class="convert-button">Convert</button>
        </p>
        
    </div>
    </form>
</body>
</html>