<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Blogly{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <a class="navbar-brand text-blue" href="#"><b>Blogly</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>