{% extends 'base.html' %}

{% block title %} {{user.first_name}} {% endblock %}

{% block content %}

<p>
    <blockquote>
        {{user.greet()}}
    </blockquote>
</p>
<h1>{{user.first_name}} Details</h1>
    <ul>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <!-- <li>Profile Photo: {{user.image_url}}</li> -->
    </ul>
    <form>
        <button formaction="/{{ user.id }}/edit" formmethod="GET" class="btn btn-primary">Edit</button>
        <button formaction="/{{ user.id }}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
    </form>

    <div>
        <a href="/">Go Back</a>
    </div>
    
{% endblock %}