{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}
{% block content %}

<h1>Edit Post</h1>
<p>
    <form method="POST" action="/posts/{{post.id}}/edit">
        <p class="text-dark text">Title <input name="title" value="{{ post.title }}"></p>
        <p class="text-dark text">Post Content <input name="content" value="{{ post.content }}"></p>
    <div class="col-auto">
        <a href="/" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    </form>
</p>


{% endblock %}