{% extends 'base.html' %}
{% block title %} Add Tag {% endblock %}
{% block content %}

<p>
<h1>Create a Tag</h1>
    <form action="/tags/new" method="POST">
        <p class="text-dark text">Name<input name="name"></p>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter a tag name">
        </div>
        <div class="form-check form-group row">
            {% for post in posts %}
            <div>
                <input class="form-input"
                    type="checkbox"
                    value="{{post.id}}"
                    id="post_{{ post.id }}"
                    name="posts">
                <label class="form-check-label" for="post_{{post.id}}">
                    {{post.title}}
                </label>
            </div>
            {% endfor %}
        </div>

        <div class="mt-3 form-group row">
            <div class="ml-auto mr-3">
                <a href="/tags" class="btn btn-outline-primary">Cancel</a>
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</p>

<p>
    <a href="/">Go Back</a>
</p>

{% endblock %}


