.navbar {
	background-color: #343a40;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	font-weight: bold;
}

nav a.navbar-brand {
	color: #f0f2f5;
}

nav a.navbar-brand:hover {
	font-weight: bold;
	color: #f0f2f5;
}
