{% extends 'base.html' %}
{% block title %} List Pets {% endblock %}
{% block content %}

<div class="container">
<h1 class="display-1 text-center">Current Pets</h1>
<div class="row justify-content-center">
    <div class="col-md-5">

<div class="list-pets">
{% for pet in pets %}
    <div class="col-12">
        <img class="img-thumbnail" src="{{ pet.image_url() }}">
        <a href="/pets/{{ pet.id }}">{{ pet.name }}</a>
        {% if pet.available %} <b> is available!</b> {% endif %}
    </div>
    {% else %}
        <div class="col-12">Not available.</div>
{% endfor %}
</div>

<p>
    <div><a class="btn btn-primary" href="/add">Add a Pet</a></div>
</p>

</div>
</div>
</div>

{% endblock %}