{% extends 'base.html' %}
{% block title %} Pet Details {% endblock %}
{% block content %}

<div class="container">
<h1 class="display-1 text-center">{{ pet.name }}'s Details</h1>
<div class="row justify-content-center">
<div class="col-md-6">

<img class="img-thumbnail" src="{{ pet.image_url() }}">
<ul>
    <li>
        Name: {{ pet.name }}
    </li>
    <li>
        Species: {{ pet.species }}
    </li>
    <li>
        {% if pet.age %} Age: {{ pet.age }} {% endif %}
    </li>
    <li>
        Notes: {{ pet.notes }}
    </li>
</ul>

<p><a href="/" class="btn btn-warning">Go Back</a></p>
<hr>
<p>
    <form>
        <button formaction="/pets/{{ pet.id }}/edit" formmethod="GET" class="btn btn-primary">Edit</button>
        <button formaction="/pets/{{ pet.id }}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
    </form>
</p>

</div>
</div>
</div>

{% endblock %}