* {
	box-sizing: border-box;
}

body {
    margin: 0;
	padding: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.convert-button {
    background: #4267B2;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    margin: 0.5rem;
}

.convert-button:hover {
    cursor: pointer;
    background-color: #898F9C;
    color: black;
}