h3 {
	color: white;
	font-size: 20px;
}

.EightBall {
	justify-content: center;
	align-items: center;
	color: white;
	padding: 30px;
	margin: 100px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: flex;
	text-align: center;
	cursor: pointer;
}
